1. True and False are the 2 values of BOOL

In [1]:
1==1

True

In [2]:
1==3

False

2. operators on bool are and ,or ,not

3. Truth table for and

True and True = True/n

True and False = False

False and True = False

False and False = False

Truth table for OR :
False or False = False

False or True = True

True or false = True

True or True = True

ruth Table for Not

Not False = True

Not True = False

# 4

In [5]:
(5>4) and (3==5)

False

In [6]:
not (5>4)

False

In [7]:
(5 >4) or (3==5)

True

In [8]:
not((5>4) or (3==5))

False

In [9]:
(True and True)and (True==False)

False

In [10]:
(not False) or (not True)

True

##### 5

6 oprators are == <= >= != > <

# 6

= is used for assignment 
A= 5 meaNS   A is assigned a value 5

== is used for relation to identify whther a given expression returns a value of True or False

eg 3== 5 is False

# 7

In [14]:
spam=0
if spam == 10:
    print ('eggs')
if spam >5 :
    print('bacon')
else:
    print('ham')

ham

# 8

In [19]:
spam =int(input("Enter the value"))
if spam == 1 :
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

Enter the value 1
Hello

# 9

Ctrl+ c is used to end the programme stuck in endless loop

# 10

Break ends the loop immediately as soon as it is executed


continue helps to skip the present iteration and jumps to next iteration

# 11

range(10)  helps to print 10 values from 0 to 9 

range (0,10) helps to print 10 values from 0 to 9 where 0 is considered as start and 10 as end 

range(0,10,1) prints values values starting from 0 till 9 with a step value of 1

# 12

In [24]:
 x = range(0,11,1)
for n in x :  
    print (n)

0
1
2
3
4
5
6
7
8
9
10

In [26]:
x = 1
while x <=10 :
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9
10